.el-date-editor.el-input {
  width: 100%;
}
.el-input-number {
  width: 100%;
}
.el-input-number .el-input__inner {
  text-align: left;
}
.rb-tag {
  margin-right: 8px;
  margin-bottom: 8px;
}
.link-tag {
  cursor: pointer;
}
.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.el-table thead th {
  color: #606266!important;
  background-color: #f2f2f2!important;
}


