$sidebar-expanded-width: 210px !default;
$sidebar-collapsed-width: 64px !default;
$sidebar-menu-bg: #fff !default;

$app-header-height: 30px !default;

$spacing-types: (
  m: margin,
  p: padding
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing-base-size: 10px;
$spacing-sizes: (
  0: 0.5,
  1: 1,
  2: 1.5,
  3: 2,
  4: 2.5,
  5: 3
);